<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Details</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
    <form [formGroup]="contactForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
      <h3 class="title-label">Search for Mechanics</h3>
      <div class="divider"></div>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Select Mechanic</mat-label>
        <mat-chip-list #personnelList aria-label="personnel selection" name="personnels" formControlName="personnels">
          <mat-chip
            *ngFor="let personnel of servicePersonnel"
            [selectable]="selectable"
            [removable]="true"
            (removed)="removePersonnel(personnel)"
          >
            {{ personnel.name }} {{ personnel.lastName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Personnel..."
            #personnelInput
            [matAutocomplete]="autoPersonnel"
            [matChipInputFor]="personnelList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          />
        </mat-chip-list>
        <mat-autocomplete #autoPersonnel="matAutocomplete" (optionSelected)="selectedPersonnel($event)">
          <mat-option *ngFor="let personnel of filteredPersonnels | async" [value]="personnel">
            {{ personnel.name }} {{ personnel.lastName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <h3 class="title-label">Cost & Time Estimation Details</h3>
      <div class="divider"></div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Service Type</mat-label>
          <mat-icon matSuffix class="secondary-text">settings</mat-icon>
          <input readonly name="assistanceTypeName" formControlName="assistanceTypeName" matInput />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Cost</mat-label>
          <mat-icon matSuffix class="secondary-text">money</mat-icon>
          <input name="assistanceCost" type="number" formControlName="assistanceCost" matInput />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>@ IN</mat-label>
          <mat-select formControlName="timeType" required>
            <mat-option [value]="'Hours'">
              Hours
            </mat-option>
            <mat-option [value]="'Minutes'">
              Minutes
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>time</mat-label>
          <input matInput formControlName="timeValue" required />
          <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Notes</mat-label>
          <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button class="save-button" (click)="onProceed()" aria-label="SAVE">
      Proceed
    </button>
  </div>
</div>
