#shopservice-details {
  .header {
    .subtitle {
      margin: 6px 0 0 0;
    }
  }

  .content {
    .simple {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      .add-prod-header {
        text-align: right;
      }
    }
    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content {
      flex: 1 1 auto;
      max-width: 100%;
    }

    .mat-tab-body-content {
      display: flex;
    }
    .grand-total {
      color: #43a047 !important;
    }
    .mat-input-element {
      color: black;
    }
    .mat-form-field-label {
      color: black !important;
    }
    .mat-tab-label {
      height: 64px;
    }
    .mat-label {
      color: #000 !important;
    }

    // Temporary prefix alignment fix
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      top: 0;
    }
  }
}
