<div id="shopservice-details" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/shopservices'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <div class="h2" *ngIf="pageType === 'edit'">
            {{ serviceModel.name }}
          </div>
          <div class="h2" *ngIf="pageType === 'new'">
            New Service
          </div>
          <div class="subtitle secondary-text">
            <span>Service Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="serviceForm.invalid"
        *ngIf="pageType === 'new'"
        (click)="addProduct()"
      >
        <span>ADD</span>
      </button>

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="serviceForm.invalid || serviceForm.pristine"
        *ngIf="pageType === 'edit'"
        (click)="saveProduct()"
      >
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">
        <form name="serviceForm" [formGroup]="serviceForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Basic Info">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Service Name</mat-label>
                  <input matInput placeholder="Service Name" name="name" formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Service Description</mat-label>
                  <textarea
                    matInput
                    placeholder="Service Description"
                    name="description"
                    formControlName="description"
                    rows="5"
                  >
                  </textarea>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Pricing">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Price</mat-label>
                  <input
                    matInput
                    placeholder="Tax Excluded Price"
                    name="priceTaxExcl"
                    formControlName="price"
                    type="number"
                  />
                  <span matPrefix>₱&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Tax Included Price</mat-label>
                  <input
                    matInput
                    placeholder="Tax Included Price"
                    name="taxRate"
                    formControlName="taxRate"
                    type="number"
                  />
                  <span matPrefix>₱&nbsp;</span>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Tags">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Select Catergory</mat-label>
                  <mat-chip-list #chipList aria-label="category selection">
                    <mat-chip
                      *ngFor="let category of serviceCategory"
                      [selectable]="selectable"
                      [removable]="true"
                      (removed)="remove(category)"
                    >
                      {{ category }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Categories..."
                      #categoriesInput
                      [formControl]="categoriestCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                      {{ category }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Select Personnel</mat-label>
                  <mat-chip-list #chipList aria-label="personnel selection">
                    <mat-chip
                      *ngFor="let personnel of servicePersonnel"
                      [selectable]="selectable"
                      [removable]="true"
                      (removed)="remove(personnel)"
                    >
                      {{ personnel }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Personnel..."
                      #personnelInput
                      [formControl]="personneltCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addPersonnel($event)"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedPersonnel($event)">
                    <mat-option *ngFor="let personnel of filteredPersonnels | async" [value]="personnel">
                      {{ personnel }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Duration">
              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>expected hours of work</mat-label>
                  <input matInput placeholder="hours" name="hours" formControlName="hours" />
                  <span matSuffix>hrs</span>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
