<div id="shopservice-details" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/shopservices'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <div class="h2" *ngIf="pageType === 'edit'">
            {{ serviceModel.name }}
          </div>
          <div class="h2" *ngIf="pageType === 'new'">
            New Service
          </div>
          <div class="subtitle secondary-text">
            <span>Service Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="serviceForm.invalid || isSaving"
        *ngIf="pageType === 'new'"
        (click)="addService()"
      >
        <span>ADD</span>
      </button>

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="serviceForm.invalid || serviceForm.pristine || isSaving"
        *ngIf="pageType === 'edit'"
        (click)="addService()"
      >
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
      <!-- CONTENT -->
      <div class="content">
        <form name="serviceForm" [formGroup]="serviceForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Basic Info">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Service Name</mat-label>
                  <input matInput placeholder="Service Name" name="name" formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Service Description</mat-label>
                  <textarea
                    matInput
                    placeholder="Service Description"
                    name="description"
                    formControlName="description"
                    rows="5"
                  >
                  </textarea>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Pricing & Items">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="60">
                      <mat-label>Service Price</mat-label>
                      <input
                        (blur)="computeValues()"
                        matInput
                        placeholder="Service Price"
                        name="servicePrice"
                        formControlName="servicePrice"
                        type="number"
                      />
                      <span matPrefix>₱&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="60">
                      <mat-label>Item Total Price</mat-label>
                      <input matInput placeholder="Item Price" name="totalPrice" formControlName="totalPrice" />
                      <span matPrefix>₱&nbsp;</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="60">
                      <mat-label>Grand Total Price</mat-label>
                      <input
                        matInput
                        placeholder="Grand total Price"
                        name="totalPrice"
                        formControlName="grandTotal"
                        class="grand-total"
                        type="number"
                      />
                      <span matPrefix>₱&nbsp;</span>
                    </mat-form-field>
                  </div>
                </div>

                <table class="simple">
                  <thead>
                    <tr>
                      <th class="w-20">Name</th>
                      <th class="w-20">Price</th>
                      <th class="w-20">Quantity</th>
                      <th class="w-40 add-prod-header">
                        <button
                          mat-mini-fab
                          color="mat-primary"
                          matTooltip="Add a product"
                          class="add-file-button"
                          (click)="openProducFinder()"
                          aria-label="Add file"
                        >
                          <mat-icon>add</mat-icon>
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="producsNeeded && producsNeeded.length">
                    <tr class="product-row" *ngFor="let item of producsNeeded; let i = index">
                      <td>
                        {{ item.name }}
                      </td>
                      <td>
                        {{ item.price }}
                      </td>
                      <td>
                        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                          <mat-button-toggle class="item-qty" value="bold"> {{ item.srvcQty }}</mat-button-toggle>
                          <mat-button-toggle value="italic" (click)="onItemsQty('remove', item)">
                            <mat-icon>remove</mat-icon></mat-button-toggle
                          >
                          <mat-button-toggle value="underline" (click)="onItemsQty('add', item)">
                            <mat-icon>add</mat-icon></mat-button-toggle
                          >
                        </mat-button-toggle-group>
                      </td>
                      <td>
                        <button mat-raised-button class="mat-accent mr-16" (click)="removeItems(item)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>

            <mat-tab label="Tags">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Select Catergory</mat-label>
                  <mat-chip-list
                    #chipList
                    aria-label="category selection"
                    name="categories"
                    formControlName="categories"
                  >
                    <mat-chip
                      *ngFor="let category of serviceCategory"
                      [selectable]="selectable"
                      [removable]="true"
                      (removed)="remove(category)"
                    >
                      {{ category.name }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Categories..."
                      #categoriesInput
                      [formControl]="categoriestCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                      {{ category.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Select Personnel</mat-label>
                  <mat-chip-list
                    #personnelList
                    aria-label="personnel selection"
                    name="personnels"
                    formControlName="personnels"
                  >
                    <mat-chip
                      *ngFor="let personnel of servicePersonnel"
                      [selectable]="selectable"
                      [removable]="true"
                      (removed)="removePersonnel(personnel)"
                    >
                      {{ personnel.name }} {{ personnel.lastName }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Personnel..."
                      #personnelInput
                      [formControl]="personneltCtrl"
                      [matAutocomplete]="autoPersonnel"
                      [matChipInputFor]="personnelList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #autoPersonnel="matAutocomplete" (optionSelected)="selectedPersonnel($event)">
                    <mat-option *ngFor="let personnel of filteredPersonnels | async" [value]="personnel">
                      {{ personnel.name }} {{ personnel.lastName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Duration">
              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>expected hours of work</mat-label>
                  <input matInput placeholder="hours" name="hours" formControlName="hours" />
                  <span matSuffix>hrs</span>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
