<div id="product" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/products'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <div class="h2" *ngIf="pageType === 'edit'">
            {{ product.name }}
          </div>
          <div class="h2" *ngIf="pageType === 'new'">
            New Product
          </div>
          <div class="subtitle secondary-text">
            <span>Product Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="productForm.invalid || isSaving"
        *ngIf="pageType === 'new'"
        (click)="addProduct()"
      >
        <span>ADD</span>
      </button>

      <button
        mat-raised-button
        class="save-product-button"
        [disabled]="productForm.invalid || productForm.pristine || isSaving"
        *ngIf="pageType === 'edit'"
        (click)="saveProduct()"
      >
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
      <!-- CONTENT -->
      <div class="content">
        <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Basic Info">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Product Name</mat-label>
                  <input matInput placeholder="Product Name" name="name" formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Product Description</mat-label>
                  <textarea
                    matInput
                    placeholder="Product Description"
                    name="description"
                    formControlName="description"
                    rows="5"
                  >
                  </textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Select Catergory</mat-label>
                  <mat-chip-list
                    #chipList
                    aria-label="product selection"
                    name="categories"
                    formControlName="categories"
                  >
                    <mat-chip
                      *ngFor="let product of productCatergory"
                      [selectable]="selectable"
                      [removable]="true"
                      (removed)="remove(product)"
                    >
                      {{ product.name }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Categories..."
                      #categoriesInput
                      [formControl]="categoriestCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let product of filteredCategories | async" [value]="product">
                      {{ product.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Pricing">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Tax </mat-label>
                  <input matInput placeholder="Tax Rate" name="taxRate" formControlName="taxRate" type="number" />
                  <span matPrefix>&#37;&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Price</mat-label>
                  <input matInput placeholder="Compared Price" name="price" formControlName="price" type="number" />
                  <span matPrefix>₱&nbsp;</span>
                  <mat-hint align="start">Product price </mat-hint>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Inventory">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>SKU</mat-label>
                  <input matInput placeholder="SKU" name="sku" formControlName="sku" />
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Quantity</mat-label>
                  <input matInput placeholder="Quantity" name="quantity" formControlName="quantity" type="number" />
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Shipping">
              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                    <mat-label>Width</mat-label>
                    <input matInput placeholder="Width" name="Width" formControlName="width" />
                    <span matSuffix>cm</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                    <mat-label>Height</mat-label>
                    <input matInput placeholder="Height" name="Height" formControlName="height" />
                    <span matSuffix>cm</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                    <mat-label>Depth</mat-label>
                    <input matInput placeholder="Depth" name="Depth" formControlName="depth" />
                    <span matSuffix>cm</span>
                  </mat-form-field>
                </div>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Weight</mat-label>
                  <input matInput placeholder="Weight" name="Weight" formControlName="weight" />
                  <span matSuffix>kg</span>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Extra Shipping Fee</mat-label>
                  <input
                    matInput
                    placeholder="Extra Shipping Fee"
                    name="extraShippingFee"
                    formControlName="extraShippingFee"
                    type="number"
                  />
                  <span matPrefix>₱&nbsp;</span>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
