<div class="page-layout blank" fusePerfectScrollbar>
  <div class="content-card pad-10 assistance-page">
    <div class="client-info">
      <div class="fuse-card">
        <div class="p-16">
          <div class="h2">Client Details</div>
        </div>
        <div class="p-16" fxLayout="row" fxLayoutAlign="start center">
          <img class="w-40 h-40 border-radius-100" [src]="clientDetails.imageUrl" />
          <div class="ml-16">
            <div class="text-bold">{{ clientDetails.name }}</div>
            <div class="h5 text-bold secondary-text">
              {{ clientDetails.email }}
            </div>
          </div>
        </div>
        <div class="p-16">
          <div class="h2">{{ clientDetails.mobileNumber }}</div>
        </div>
        <div class="car-card">
          <div class="p-16">
            <div class="h4 secondary-text">Car Details</div>
            <div class="h1">{{ clientCar.modelName }}</div>
            <div class="h4 secondary-text">Model year {{ clientCar.modelYear }}</div>
            <div class="h4 secondary-text">Plate Number{{ clientCar.plateNumber }}</div>
            <div class="h4 secondary-text">Color {{ clientCar.color }}</div>
            <div class="h4 secondary-text">Fuel Type {{ clientCar.fuelName }}</div>
            <div class="h4 secondary-text">Description {{ clientCar.description }}</div>
          </div>
        </div>
        <!-- <div class="p-16 pt-0 line-height-1.75">(Car Details) → {{ clientDetails.address.formattedAddres }}</div> -->
      </div>

      <!-- =========================================== -->

      <div class="fuse-card mt-16">
        <div class="p-16">
          <div class="h2">Mechanic Details</div>
        </div>
        <ng-container *ngIf="assistanceDetails.status !== 'PENDING'">
          <div class="p-16" fxLayout="row" fxLayoutAlign="start center">
            <img class="w-40 h-40 border-radius-100" [src]="'assets/images/avatars/profile.jpg'" />
            <div class="ml-16">
              <div class="text-bold">{{ getMechanicDetails.name }} {{ getMechanicDetails.lastName }}</div>
              <div class="h5 text-bold secondary-text">
                {{ getMechanicDetails.email }}
              </div>
            </div>
          </div>
          <div class="p-16">
            <div class="h2">{{ getMechanicDetails.phone }}</div>
          </div>
        </ng-container>
        <ng-container *ngIf="assistanceDetails.status === 'PENDING'">
          <div class="p-16" fxLayout="row" fxLayoutAlign="start center">
            <div class="none-details">
              <div class="p-16 none-labels">
                <div class="h2">NONE</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- ============================================== -->
      <div class="fuse-card mt-16">
        <div *ngIf="assistanceDetails.status !== 'DONE'" class="p-16">
          <div class="h2">Status ({{ assistanceDetails.status }})</div>
        </div>
        <div class="p-16" fxLayout="row" fxLayoutAlign="start center">
          <ng-container *ngIf="assistanceDetails.status !== 'PENDING'">
            <div class="time-status">
              <img
                src="assets/svg/new-timer.svg"
                *ngIf="assistanceDetails.timeValue !== '0'"
                width="100px"
                height="100px"
              />
              <span class="h2" *ngIf="assistanceDetails.status === 'IN-PROGRESS'">{{ time }}</span>
              <span class="h2" *ngIf="assistanceDetails.status === 'DONE'">DONE</span>
            </div>
          </ng-container>
          <ng-container *ngIf="assistanceDetails.status === 'PENDING'">
            <div class="none-details">
              <div class="p-16 none-labels">
                <div class="h2">NONE</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="fuse-card mt-16" *ngIf="assistanceDetails.status === 'DONE'">
        <div class="p-16">
          <div class="h1">Customer Rating</div>
        </div>
        <div class="p-9" fxLayout="row" fxLayoutAlign="start center">
          <div class="p-16">
            <star-rating
              [value]="assistanceDetails.ratings"
              totalstars="5"
              checkedcolor="orange"
              size="34px"
              readonly="true"
            ></star-rating>
          </div>
        </div>
        <div class="p-16 pt-0 line-height-1.75">
          <span class="h2">{{ assistanceDetails.comments }}</span>
        </div>
      </div>
    </div>
    <div class="assistance-info">
      <div class="p-12 header-assistance">
        <div class="h2">Assistance Details</div>
        <div class="h2">
          <button
            *ngIf="assistanceDetails.status === 'IN-PROGRESS' && assistanceDetails.timeValue !== '0'"
            mat-raised-button
            (click)="forceArrived()"
            color="accent"
            class="post-comment-button override-arrived"
            aria-label="Accommodate"
          >
            Arrived
          </button>
          <button
            *ngIf="assistanceDetails.status !== 'DONE'"
            mat-raised-button
            (click)="onAccommodate()"
            color="accent"
            class="post-comment-button"
            aria-label="Accommodate"
          >
            {{ assistanceDetails.status !== 'PENDING' ? 'Update' : 'Accommodate' }}
          </button>
        </div>
      </div>
      <div class="p-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="ml-5">
          <div class="h3 text-bold">{{ getAssistanceName }}</div>
          <div class="h5 text-bold secondary-text">
            Date: {{ assistanceDetails.dateCreated.toDate() | date: 'dd MMM hh:mm' }}
          </div>
        </div>
      </div>

      <div class="p-16 pt-0">(Address) → {{ assistanceDetails.writtenAddress }}</div>

      <div class="p-16 pt-0">(note) → {{ assistanceDetails.notes }}</div>
      <div class="p-16 pt-0 map-details">
        (Goggle MAP ROUTE DETAILS) → {{ getApproximate.distanceKM }} / {{ getApproximate.esitamteTravelTime }} Estimated
        Travel time
      </div>
      <div>
        <agm-map
          class="h-640 w-100-p map-container"
          [minZoom]="2"
          [maxZoom]="20"
          [fullscreenControl]="true"
          [rotateControl]="true"
          [zoomControl]="true"
          [scaleControl]="true"
          [streetViewControl]="true"
          [scrollwheel]="true"
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="12"
        >
          <agm-direction
            [origin]="origin"
            [destination]="destination"
            [markerOptions]="markerOptions"
            [travelMode]="'DRIVING'"
            [renderOptions]="renderOptions"
          >
          </agm-direction>
        </agm-map>
      </div>
    </div>
  </div>
</div>
